USE [master]
GO
/****** Object:  Database [Meeting_Manament]    Script Date: 05/06/2021 10:49:20 CH ******/
CREATE DATABASE [Meeting_Manament]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Meeting_Manament', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQL2014\MSSQL\DATA\Meeting_Manament.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Meeting_Manament_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQL2014\MSSQL\DATA\Meeting_Manament_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Meeting_Manament].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Meeting_Manament]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[UserRole_id] [nvarchar](128) NOT NULL,
	[Admin_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[UserRole_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Role_id] [nvarchar](128) NOT NULL,
	[Role_name] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRole]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRole](
	[User_id] [nvarchar](128) NOT NULL,
	[Role_id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserRole] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC,
	[Role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[User_id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[User_name] [nvarchar](256) NOT NULL,
	[Phone_number] [int] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[Meeting_id] [nvarchar](128) NOT NULL,
	[Attachment] [xml] NULL,
	[Attachment_Name] [nvarchar](128) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CreateBy_id] [nvarchar](128) NOT NULL,
	[Category_id] [nvarchar](128) NOT NULL,
	[Category_Name] [nvarchar](128) NOT NULL,
	[Category_Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACALTY]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACALTY](
	[Facalty_id] [nvarchar](128) NOT NULL,
	[Faculty_Code] [varchar](5) NULL,
	[Faculty_Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_FACALTY_1] PRIMARY KEY CLUSTERED 
(
	[Facalty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEETING]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEETING](
	[CreateBy_id] [nvarchar](128) NOT NULL,
	[Meeting_name] [nvarchar](128) NULL,
	[Date_Start] [datetime] NULL,
	[Date_End] [datetime] NULL,
	[Meeting_Confirmed] [bit] NULL,
	[Category_id] [nvarchar](128) NOT NULL,
	[Meeting_id] [nvarchar](128) NOT NULL,
	[Lacation] [nvarchar](128) NULL,
	[Status] [nvarchar](128) NOT NULL,
	[Meeting_report] [xml] NOT NULL,
 CONSTRAINT [PK_MEETING_1] PRIMARY KEY CLUSTERED 
(
	[Meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[Meeting_id] [nvarchar](128) NOT NULL,
	[Member_id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_MEMBER_1] PRIMARY KEY CLUSTERED 
(
	[Meeting_id] ASC,
	[Member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OTHER ACCOUNT]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTHER ACCOUNT](
	[Create_by] [nvarchar](128) NOT NULL,
	[othUser_name] [nvarchar](128) NOT NULL,
	[othUser_password] [nvarchar](128) NOT NULL,
	[othUser_id] [nvarchar](128) NOT NULL,
	[othUser_Password_Confirmed] [nvarchar](128) NULL,
	[othUser_Position] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_OTHER ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[othUser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TASK]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[Task_id] [nvarchar](128) NOT NULL,
	[Meeting_id] [nvarchar](128) NOT NULL,
	[Task_name] [nvarchar](128) NOT NULL,
	[Assignee] [nvarchar](128) NOT NULL,
	[Task_Status] [bit] NOT NULL,
	[Task_Deadline] [date] NULL,
	[Notify] [bit] NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[Task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 05/06/2021 10:49:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[User_id] [nvarchar](128) NOT NULL,
	[Full_name] [nvarchar](128) NULL,
	[Birth_day] [datetime] NULL,
	[Gender] [bit] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AspNetUserRole]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRole_AspNetRoles1] FOREIGN KEY([Role_id])
REFERENCES [dbo].[AspNetRoles] ([Role_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRole] CHECK CONSTRAINT [FK_AspNetUserRole_AspNetRoles1]
GO
ALTER TABLE [dbo].[AspNetUserRole]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRole_AspNetUsers1] FOREIGN KEY([User_id])
REFERENCES [dbo].[AspNetUsers] ([User_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRole] CHECK CONSTRAINT [FK_AspNetUserRole_AspNetUsers1]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_MEETING] FOREIGN KEY([Meeting_id])
REFERENCES [dbo].[MEETING] ([Meeting_id])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_MEETING]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_USERS] FOREIGN KEY([CreateBy_id])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [FK_CATEGORY_USERS]
GO
ALTER TABLE [dbo].[MEETING]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_CATEGORY] FOREIGN KEY([Category_id])
REFERENCES [dbo].[CATEGORY] ([Category_id])
GO
ALTER TABLE [dbo].[MEETING] CHECK CONSTRAINT [FK_Meeting_CATEGORY]
GO
ALTER TABLE [dbo].[MEETING]  WITH CHECK ADD  CONSTRAINT [FK_MEETING_USERS] FOREIGN KEY([CreateBy_id])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[MEETING] CHECK CONSTRAINT [FK_MEETING_USERS]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_MEETING1] FOREIGN KEY([Meeting_id])
REFERENCES [dbo].[MEETING] ([Meeting_id])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [FK_MEMBER_MEETING1]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_OTHER ACCOUNT1] FOREIGN KEY([Member_id])
REFERENCES [dbo].[OTHER ACCOUNT] ([othUser_id])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [FK_MEMBER_OTHER ACCOUNT1]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_TASK] FOREIGN KEY([Member_id])
REFERENCES [dbo].[TASK] ([Task_id])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [FK_MEMBER_TASK]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_USERS1] FOREIGN KEY([Member_id])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [FK_MEMBER_USERS1]
GO
ALTER TABLE [dbo].[OTHER ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_OTHER ACCOUNT_USERS] FOREIGN KEY([Create_by])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[OTHER ACCOUNT] CHECK CONSTRAINT [FK_OTHER ACCOUNT_USERS]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_TASK_MEETING] FOREIGN KEY([Meeting_id])
REFERENCES [dbo].[MEETING] ([Meeting_id])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_TASK_MEETING]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_AspNetUsers] FOREIGN KEY([User_id])
REFERENCES [dbo].[AspNetUsers] ([User_id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_AspNetUsers]
GO
USE [master]
GO
