
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách tài khoản </h2>

<form method="post">
    <button name="button" type="button" style="width: 80px; height:30px">+</button>
    <input type="search" placeholder="Search" name="Search" required="">
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Full Name</td>     
            <td>Role</td>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        }
    </tbody>
</table>

