<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link re="style-sheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <title>VanLangMeeting</title>
</head>
<body>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>


        <header>
            <img style="width:20px" height="20px" class="logo" src="~/img/logoVLU.png" />
            <nav class="nav">
                <ul class="ul">
                    <li class="li-items">Home</li>
                    <li class="li-items">Feedback</li>
                    <li class="li-items">Profile</li>
                    <li class="li-items">About</li>
                    <li class="li-items">Contact</li>
                </ul>
            </nav>
        </header>
    
    <footer>
        @RenderBody()
    </footer>
</body>
</html>